{% extends "SGPlatformBundle::layout.html.twig" %}

{% block title %}
	{{ "Accueil"|trans }} - {{ parent() }}
{% endblock %}

{% block sgplatform_body %}

	<h2>{{ "Liste des annonces"|trans }}</h2>

	<div>
		{% for message in app.session.flashbag.get('info') %}
			<p>{{ "Message flash"|trans }} : {{ message }}</p>
		{% endfor %}
	</div>

	<ul>
		{% for advert in listAdverts %}
			<li>
				<a href="{{ path('sg_platform_view', {'id': advert.id}) }}">
					{{ advert.title }}
				</a>
				{{ "par"|trans }} {{ advert.author }},
				{{ "le"|trans }} {{ advert.date|date('d/m/Y') }}
			</li>
		{% else %}
			<li>{{ "Pas (encore !) d'annonces"|trans }}</li>
		{% endfor %}
	</ul>

	<ul class="pagination">
		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% if nbPages > 0 %}
			{% for p in range(1, nbPages) %}
				<li{% if p == page %} class="active"{% endif %}>
					<a href="{{ path('sg_platform_home', {'page': p}) }}">{{ p }}</a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>

{% endblock %}
